<div class="layout">
  <div class="flex flex--row gap--large portrait:flex--col">
    <!-- Element Card (Periodic Table Style) -->
    <!-- Using inline border instead of 'outline rounded' class to achieve thicker 5px border -->
    <!-- Framework's outline class only provides 1px border on 2-bit/4-bit displays -->
    <div class="p--3 bg--white no-shrink min-w--52" style="border: 5px solid black; border-radius: 10px;">
      <!-- Top row: Atomic number (left) and Atomic mass (right) -->
      <div class="flex flex--row flex--between gap--small mb--small">
        <div class="value value--medium value--tnums md:value--large lg:value--xlarge">
          {{ element.atomic_number }}
        </div>
        <div class="value value--small value--tnums md:value--medium">
          {{ element.atomic_mass }}
        </div>
      </div>
      
      <!-- Center: Symbol (large) -->
      <div class="text--center mb--small">
        <div class="value value--xxxlarge sm:value--xxxlarge md:value--xxxlarge lg:value--xxxlarge">
          {{ element.symbol }}
        </div>
      </div>
      
      <!-- Bottom: Element name and category -->
      <div class="text--center">
        <div class="title md:title--small mb--xsmall">
          {{ element.name }}
        </div>
        <div class="label label--inverted">
          {{ element.category }}
        </div>
      </div>
    </div>
    
    <!-- Element Details -->
    <div class="flex flex--col gap--small stretch">
      <div class="mb--6">
        <div class="title title--large md:title--xlarge" data-value-fit="true" data-value-fit-max-height="120">
          {{ element.name | upcase }}
        </div>
      </div>
      
      <!-- 1 column on small, 2 columns on medium, 3 columns on large screens -->
      <div class="grid grid--cols-1 md:grid--cols-2 lg:grid--cols-3 gap--xsmall">
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--outline">State</span>
              <span class="value value--xsmall">{{ element.standard_state }}</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--outline">Electron Config</span>
              <span class="value value--xsmall" data-clamp="1">{{ element.electron_configuration }}</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--outline">Electronegativity</span>
              <span class="value value--xsmall">{{ element.electronegativity }}</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--outline">Melting Point</span>
              <span class="value value--xsmall">{{ element.melting_point }}</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--outline">Boiling Point</span>
              <span class="value value--xsmall">{{ element.boiling_point }}</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--outline">Density</span>
              <span class="value value--xsmall">{{ element.density }} g/cm³</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--outline">Oxidation States</span>
              <span class="value value--xsmall">{{ element.oxidation_states }}</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--outline">Discovered</span>
              <span class="value value--xsmall">{{ element.year_discovered }}</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--outline">Atomic Radius</span>
              <span class="value value--xsmall">{{ element.atomic_radius }} pm</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--outline">Ionization Energy</span>
              <span class="value value--xsmall">{{ element.ionization_energy }} eV</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--outline">Electron Affinity</span>
              <span class="value value--xsmall">{{ element.electron_affinity }} eV</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--outline">Group</span>
              <span class="value value--xsmall">{{ element.group_block }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img src="{{ icon_atom }}" style="height: 1em; vertical-align: middle;" />
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
