<div class="layout">
  <div class="flex flex--row gap--large portrait:flex--col">
    <!-- Element Card (Periodic Table Style) -->
    <div class="outline rounded p--3 bg--white no-shrink min-w--52">
      <!-- Top row: Atomic number (left) and Atomic mass (right) -->
      <div class="flex flex--row flex--between mb--small">
        <div class="value value--medium value--tnums md:value--large lg:value--xlarge">
          {{ element.atomic_number }}
        </div>
        <div class="value value--small value--tnums md:value--medium" data-value-fit="true">
          {{ element.atomic_mass }}
        </div>
      </div>
      
      <!-- Center: Symbol (large) -->
      <div class="text--center mb--small">
        <div class="value value--xxxlarge sm:value--xxxlarge md:value--xxxlarge lg:value--xxxlarge">
          {{ element.symbol }}
        </div>
      </div>
      
      <!-- Bottom: Element name and category -->
      <div class="text--center">
        <div class="title md:title--small mb--xsmall">
          {{ element.name }}
        </div>
        <div class="label label--small label--gray">
          {{ element.category }}
        </div>
      </div>
    </div>
    
    <!-- Element Details -->
    <div class="flex flex--col gap--small stretch">
      <div class="value value--large md:value--xlarge lg:value--xxlarge mb--small">
        {{ element.category | upcase }}
      </div>
      
      <!-- 1 column on small, 2 columns on medium, 3 columns on large screens -->
      <div class="grid grid--cols-1 md:grid--cols-2 lg:grid--cols-3 gap--xsmall">
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--small label--outline">State</span>
              <span class="description">{{ element.standard_state }}</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--small label--outline">Electron Config</span>
              <span class="description" data-clamp="1">{{ element.electron_configuration }}</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--small label--outline">Electronegativity</span>
              <span class="description">{{ element.electronegativity }}</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--small label--outline">Melting Point</span>
              <span class="description">{{ element.melting_point }}</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--small label--outline">Boiling Point</span>
              <span class="description">{{ element.boiling_point }}</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--small label--outline">Density</span>
              <span class="description">{{ element.density }} g/cm³</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--small label--outline">Oxidation States</span>
              <span class="description">{{ element.oxidation_states }}</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small">
              <span class="label label--small label--outline">Discovered</span>
              <span class="description">{{ element.year_discovered }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
