<div class="layout">
  <div class="flex flex--row gap--small portrait:flex--col">
    <!-- Element Card -->
    <div class="outline rounded p--small bg--white flex-none w--32 sm:w--36">
      <!-- Top row: Atomic number (left) and Atomic mass (right) -->
      <div class="flex flex--row flex--between mb--xsmall">
        <div class="value value--small value--tnums">
          {{ element.atomic_number }}
        </div>
        <div class="value value--xsmall value--tnums" data-value-fit="true">
          {{ element.atomic_mass }}
        </div>
      </div>
      
      <!-- Center: Symbol (large) -->
      <div class="text--center mb--xsmall">
        <div class="value value--xlarge sm:value--xxlarge" style="line-height: 1;">
          {{ element.symbol }}
        </div>
      </div>
      
      <!-- Bottom: Element name and category -->
      <div class="text--center">
        <div class="title title--small mb--xsmall">
          {{ element.name }}
        </div>
        <div class="label label--small label--gray">
          {{ element.category }}
        </div>
      </div>
    </div>
    
    <!-- Element Details -->
    <div class="flex flex--col gap--xsmall stretch">
      <!-- Element name and category header -->
      <div class="flex flex--row flex--between gap--small mb--xsmall flex--wrap">
        <div class="title">{{ element.name }}</div>
        <div class="value value--large">{{ element.category | upcase }}</div>
      </div>
      
      <div class="flex flex--col gap--xsmall">
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small flex--wrap">
              <span class="label label--small label--underline">State</span>
              <span class="description">{{ element.standard_state }}</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small flex--wrap">
              <span class="label label--small label--underline">Electron Config</span>
              <span class="description" data-clamp="1">{{ element.electron_configuration }}</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small flex--wrap">
              <span class="label label--small label--underline">Density</span>
              <span class="description">{{ element.density }} g/cm³</span>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="content">
            <div class="flex flex--row gap--small flex--wrap">
              <span class="label label--small label--underline">Discovered</span>
              <span class="description">{{ element.year_discovered }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
