<div class="layout">
  <div class="flex flex--col flex--center gap--xsmall">
    <div class="outline rounded p--small text--center bg--white">
      <div class="value value--small value--tnums">
        {{ element.atomic_number }}
      </div>
      <div class="value value--xlarge" style="line-height: 1;">
        {{ element.symbol }}
      </div>
      <div class="value value--small">
        {{ element.name }}
      </div>
    </div>
    
    <div class="label label--small text--center">
      {{ element.category }}
    </div>
  </div>
</div>

<div class="title_bar">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
