<div class="layout">
  <div class="flex flex--col flex--center gap--xsmall">
    <div class="outline rounded p--2 bg--white no-shrink min-w--24">
      <!-- Top row: Atomic number (left) and Atomic mass (right) -->
      <div class="flex flex--row flex--between mb--xsmall">
        <div class="value value--xxsmall value--tnums">
          {{ element.atomic_number }}
        </div>
        <div class="value value--xxsmall value--tnums" data-value-fit="true">
          {{ element.atomic_mass }}
        </div>
      </div>
      
      <!-- Center: Symbol (large) -->
      <div class="text--center mb--xsmall">
        <div class="value value--large sm:value--xlarge md:value--xxlarge">
          {{ element.symbol }}
        </div>
      </div>
      
      <!-- Bottom: Element name -->
      <div class="text--center">
        <div class="value value--xxsmall">
          {{ element.name }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
